.searchForm{
	float:left;
}

#sunOp{
	margin-top:20px;
}
.plantSearchMenu{
	float:right;
}
#submitButton #clearButton{
	width:100px;
	height:auto;
	font-size: 1.2em;
}
.searchBoxAutoInput{
	width:100%;
}

#result{
	width:100;
	background-color:limegreen;
	height:200px;
}
.col-sm-6 pull-right{
	background-color: limegreen;
}
.flex-center {
	display:flex;
	align-items:center;
}
@media ( min-width:768px ) {
.sm-flex-center {
    display:flex;
    align-items:center;
}
}
@media ( min-width: 992px ) {
.md-flex-center {
    display:flex;
    align-items:center;
}
}
@media ( min-width: 1200px ) {
.lg-flex-center {
    display:flex;
    align-items:center;
}
}
#typeMenu{
	margin-left:2%;
}


.label{
	text-align: left;
	line-height:10px;
	float:left;
	width:10%;
	display: block;
}

.col-sm-6 {
	margin:0 auto;
}
hr{
	border-color: :#AAAAAA;		/*wor in chrome and safari*/
	background-color: #AAAAAA; /*work in firefox and opera*/
	border:1px thin;
}
.sunLight{
	background-image:url(images/sun.jpg);
	background-size: 45px 45px;
	width:45px;
	height:45px;
	vertical-align: middle;
}
.soil{
	background-image:url(images/soil.jpg);
	background-size: 45px 45px;
	width:45px;
	height:45px;
	vertical-align: middle;
}
.plantColor{
	background-image:url(images/color1.png);
	background-size: 45px 45px;
	width:45px;
	height:45px;
	vertical-align: middle;
}
.ul{
	list-style-type:none;
}
.tablerow{
	font-weight: bold;
	font-size:1em;
}
.tablelist{
	padding-left:5%;
}
#tableresult td{
	table-layout:fixed;
	overflow:hidden;
	height: 20px;
	font-size:1em;
}
#tableresult{
	width:100%;
	border:1px dashed green;
	background:gold;  
	margin:0 auto;
}


